
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    --header-height: 3rem;
    --small-navbar-width: 60px;
    --nav-width: 200px;
    --hover-item-color: #F2F0F4;
    --first-color-light: #AFA5D9;
    --white-color: #fff;
    --body-font: 'Nunito', sans-serif;
    --normal-font-size: 1rem;
    --z-fixed: 100;
    --background-color: #EEEEEE;
    --blue-color: #3F6AD8;
}
/* #3F6AD8 */

html,body{
    width: 100%;
}

body{
    font-family: var(--body-font);
    background-color: var(--background-color);
    overflow-x: hidden;

}

li{
    list-style: none;
}

a{
    text-decoration: none;
}
.navbar{
    position: fixed;
    top: 0;
    z-index: 15;
    width: 100%;
    background: var(--white-color);
}
.navbar .navbar-items{
    width: 100%;
    display: flex;
    justify-content: space-between;

}

.navbar .navbar-icons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.navbar .navbar-icons i{
    font-size: 20px;
}
.navbar .navbar-icons .profile{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: lightgrey;
}
.input-group{
    width: 43%;
    margin-left: 250px;
    padding: 0 5px;
    transition: all .3s ease;
}
.input-group-toggle{
    margin-left: 60px;

}

.menu-icon i{
    font-size: 30px;
}
.navbar-items .input-group .menu-icon{
    outline: none;
    border: none;
    background-color: transparent;
    width: 40px;
    height: 40px;
}



.sidebar{
    width: 250px;
    position: fixed;
    background-color: var(--white-color);
    top: 0;
    left: 0;
    height: 100%;
    overflow-y: auto;
    z-index: 20;
    padding: 5px 20px 0px 10px;
    transition: all .4s ease;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.close-icon{
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 30px;
    color: black;
}
#sidebar-heading{
    display: flex;
    gap: 5px;
    align-items: center;
    margin-left: 5px;
    text-decoration: none;
    font-size: 20px;
    color: black;
}
.sidebar::-webkit-scrollbar{
    display: none;
}


.sidebar .sidebar-items a li{
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-top: 10px;
    padding: 5px 2px 5px 10px;
    border-radius: 5px;
    font-size: 1rem;
    text-transform: capitalize;
}

.toggleSidebar{
    width: 50px;
    padding: 0;
}


.sidebar .sidebar-items a li:hover{
    background-color: var(--hover-item-color);
}

.sidebar .sidebar-items a{
    text-decoration: none;
    color: black;
}
.sidebar .sidebar-items a i{
    margin-right: 15px;
    font-size: 1.7rem;
}
.cards{
    margin-top: 70px;
    margin-left: 100px;
    gap: 15px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    transition: all .3s ease;
}



.cards .card{
    width: 23%;
    padding: 15px 20px;

}
@media screen and (max-width: 1200px) {
    .cards{
        justify-content: center;
    }
    .cards .card {
      width:40%;
    }
  }


  
  
.cards .card div[class="bottom"]{
    display: flex;

}
.cards .card div[class="bottom"] span{
    font-size: 16px;
    margin-top: 5px;
}

.cards .graphics{
    display: flex;
    justify-content: space-between;
}
.graphics .visits{
    color: #F4BA01;
}
.graphics .orders{
    color: #CF4159;
}

.graphics .revenue{
    color: #1A7F55;
}

/* employee card */
.bottom-container{  
    margin-left: 0;
    /* gap: 15px; */
    width: 100%;
    transition: all .3s ease;
}

.employee-card{
    margin-top: 15px;
    padding: 10px 20px;
    background-color: var(--white-color);
    width: 42%;
    margin-left: 100px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.bottom-container .chart{
    width: 45%;
    background-color: var(--white-color);
    margin-top: 15px;
    padding: 10px 5px;

}

@media screen and (max-width:1150px){
    .bottom-container{
        /* width: 100%; */
        flex-direction: column;
        padding: 0;
    }
   
    .employee-card{
        margin-left: 0px;
        width: 100%;
    }
    .bottom-container #salesChart{
        width: 100%;

    }
   
}


@media screen and (max-width: 650px) {
    .cards{
        justify-content: center;
        background-color: teal;
        margin-top: 110px;
        margin-left: 0;
        padding: 0;
    }
    .cards .card {
      width:100%;
    }

    .bottom-container{
        width: 100%;

    }
    .employee-card{
        width: 100%;
        overflow-x: auto;
        margin-left: 0; 
    }
    .employee-card::-webkit-scrollbar{
        display: none;
    }
   
    /* sidebar */
    .toggleSidebar{
        width: 0;
    }

    /* top navbar */
    .navbar-items{
        flex-direction: column;

    }
    .navbar-items div{
        width: 100%;
    }
    .navbar-items div[class="input-group"]{
        margin-left: 0;
    }
    .input-group-toggle{
        margin-left: 0;
    }

    
}

.employee-card  table tr{
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    text-align: left;

}
.employee-card tbody tr td,th{
    padding: 10px 30px;
}
.employee-card .second-col{
    padding-right: 40px;
}

.employee-card th{
    color: var(--blue-color);

}
